#!/usr/bin/make -f

export DH_VERBOSE = 1

export DPKG_EXPORT_BUILDFLAGS = 1
export DPKG_EXPORT_BUILDTOOLS = 1

export DEB_BUILD_OPTIONS += nolto
export DEB_BUILD_MAINT_OPTIONS += optimize=-lto

export DEB_BUILD_MAINT_OPTIONS += hardening=+all

include /usr/share/dpkg/default.mk

export DEB_HOST_GNU_TYPE

export PKG_CONFIG = ${DEB_HOST_MULTIARCH}-pkg-config
export PKG_CONFIG_PATH = /usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig:/usr/share/pkgconfig
export PKG_CONFIG_LIBDIR = /usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig

PREFIX := /usr
ROOT_SBINDIR := /usr/sbin

export PREFIX ROOT_SBINDIR

# WARNING: split debug info makes the package unreproducible!
#
# export CFLAGS += -gsplit-dwarf
#
# override_dh_dwz:
# 	# Skipping DWZ since debug info is split.

# WARNING: compressed debug info without split debug info results in
#          size increase(!), and breaks DWZ.
#
# export CFLAGS += -gz=zlib
# export LDFLAGS += -Wl,--compress-debug-sections=zlib

%:
	dh $@ --parallel --with dkms

override_dh_auto_clean:
	dh_auto_clean

override_dh_auto_configure:
	dh_auto_configure

override_dh_clean:
	dh_clean

override_dh_usrlocal:
	# FIXME: fails with
	# dh_usrlocal: error: debian/bcachefs-tools/usr/local/libexec/bcachefsck_all is not a directory

override_dh_auto_test:
